body {
    background-image: url("dot-grid.png");
    font-weight: 400;
}

#main_container {

    WIDTH: 40%;
    margin: auto;
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

/*#table_div, #input_div {*/
/*    width: 60%;*/
/*    margin: auto;*/
/*    margin-top: 40px;*/
/*}*/

/*#table_id{*/
/*    width: 100%;*/
/*}*/
#label_id {
    text-align: center;
}

#button_div_id {
    width: auto;
    text-align: center;
}

#dustbin_id {
    margin: 1px;
    background-color: gray;
}

